#custom-power {
    background-color: @background;
    color: @primary;
    padding: 0 10px;
    margin: 4px 6px;
    border-radius: 6px;
    border: 1px solid @secondary;
}

#custom-power:hover {
    color: @alert;
}
